<!DOCTYPE html>
<html ng-app="angularapp">
  <head>
    <title>Angularapp</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav>
      <h1><a href="/">Home</a></h1>
    </nav>

    <div class="ng-view">
      <%= yield %>
    </div>
  </body>
</html>
